.footer-section {
    position: relative;
    margin: 0 20px;
    border-radius: 20px;
    padding: 50px 100px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    margin-top: 30px;

}


.quote {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -120px;
    height: 200px;
    width: 75%;
    border-radius: 18px;
    background: linear-gradient(80deg, #FD7F63, #E85CBA, #A546E9, #923EF2);
    /* background-color: rgb(236, 121, 121); */
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}

.quote h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700px;
}


.footer-menu h5 {
    /* text-align: center; */
    font-weight: 500;
    margin-bottom: 9px;
}

.footer-menu a {
    margin-top: 50px;
    line-height: 1.8em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
}




@media screen and (max-width: 576px) {
    .footer-section {
        margin: 0 5px;
        padding: 20px;
        border-radius: 18px;
    }

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        margin-top: 30px;
    }

    .footer-menu {
        padding: 10px;
    }



    .quote h1 {
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
    }
}