.not-found-img {
    position: relative;
}

.not-found-img img {
    width: 50%;
    height: 500px;
    margin: 50px auto;
}

/* .not-found-container {
    position: relative;
} */

.not-found-text {
    position: absolute;
    display: block;
    top: 80px;
    left: 450px;
    font-size: 24px;
    font-weight: 600;
    background-image: radial-gradient(circle at 16% 0, #ff825b, #e85cba 41%, #a546e9 64%, #7533ff 81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 576px) {
    .not-found-text {
        position: absolute;
        top: 420px;
        left: 50px;
    }
}